// bower:scss
// endbower
$HfontSize:80px;
$PfontSize:20px;
$TfontSize:40px;
$WeekFS:20px;
$DataFS:100px;
$h1:50px;
$MainColor1:rgba(255,100,100,1);
$MainColor2:rgba(89,217,166,1);
$MainColor:rgba(131,119,245,1);
$ChosenColor:white;
html,body,.background,.topView{
  margin:0;
  padding: 0;
}
html{
  height:100%;
  width:100%;
}
body {
  height:100%;
  width:100%;
  background: #fafafa;
  font-family: "微软雅黑 Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.background{
  position: relative;
  width:100%;
  height:100%;

}
.topView{
  z-index: 1;
  position: fixed;
  width:100%;
  height:100%;
  background:$MainColor;
  .show{
    height:40%;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    color: white;
    position: relative;
    text-align: center;
    .week{

      font-size:$WeekFS;
    }
    .data{
      font-size:$DataFS;
    }
    .h1{

    }
  }
}
.underView{
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  position: absolute;
  top:40%;
  z-index: 2;
  background: white;
  width:100%;
  height:auto;
  color: gainsboro;
  box-shadow: 0 -0.5px 5px ;
  border-radius:0.5%;
  overflow: hidden;
.containercc{
  margin:0;
  padding:0;
  width:100%;
  height:395px;
  box-shadow:gainsboro  1px 1px 10px;
  .calendar:nth-child(1){
    top:0;
    left:0;
  }
  .calendar:nth-child(2){
    top:0;
    left:100%;
  }
  .calendar:nth-child(3){
    top:0;
    left:200%;
  }
  .calendar:nth-child(4){
    top:0;
    left:300%;
  }
  .calendar:nth-child(5){
    top:0;
    left:400%;
  }
  .calendar:nth-child(6){
    top:0;
    left:500%;
  }
  .calendar{
    position: absolute;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    text-align: center;
    color: black;
    margin:5%;
    padding:0;
    width:90%;
    height:350px;
    tr{
      th {
        //font-family: "微软雅黑 Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
        overflow: visible;
        padding:0;
        margin:0;
        p{
          margin-top:0;
          margin-bottom:0;
          margin-left:auto;
          margin-right:auto;
          padding:0;
          height:100%;
          width:100%;
          border-radius:50%;
          color: $ChosenColor;
          background: $MainColor;
        }
        p:active{
          background: lighten($MainColor,10%);
        }
      }

    }
    tr{
      margin:0;
      padding:0;
      td{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        margin:0;
        padding:0;
overflow: visible;
      }
     td p{
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
       transition: all 0.3s;
        margin-top:0;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
        height:100%;
        border-radius:50%;

      }
      .p-active{
        color: $ChosenColor;
        background: $MainColor;
      }
    }
    tr{
      th:nth-child(1),th:nth-child(7){
        color: $MainColor;
      }
      td:nth-child(1),td:nth-child(7){
        color: $MainColor;
      }
    }
  }
}
  .reminder{
    -webkit-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    transform-origin:0 0;
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -ms-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
    width:100%;
    height:auto;

.addThings{
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left:10%;
  margin-right:10%;
  border:0;
  height:50px;
  width:80%;
  border-radius: 5px;
  background: $MainColor;
  box-shadow: lighten($MainColor,20%) 1px 1px 10px;
  text-align: center;
  font-family: "微软雅黑 Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:20px;
  color: white;
}
    .addThings:active{
      background: lighten($MainColor,10%);
    }
  }
  .reminder-show{
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
  }
  .myPlan{
    margin-top:10px;
    height:100px;
    width:100%;
    position: relative;
    box-shadow: gainsboro 1px 1px 10px;
    p{
      margin:0;
      padding-left:20px;
      padding-top:8px;
      height:20px;
    }
    p:nth-child(1){
      color: $MainColor;
    }
    p:nth-child(2){
      color: black;
      word-break:break-all;
    }
    .editButton{
      position: absolute;
      right:15px;
      top:30px;
      height:40px;
      width:80px;
      border:0;
      font-family: "微软雅黑 Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:18px;
      color: white;
      background: $MainColor;
      border-radius: 5px;
      box-shadow: lighten($MainColor,10%) 1px 1px 10px;
    }
    .editButton:active{
      background: lighten($MainColor,10%);
    }
  }
}
.inputBackgrund {
  z-index: 8;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transition: transform 0.35s;
  -moz-transition: transform 0.35s;
  -ms-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transform-origin:0 15%;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);

}
.inputBackgrund-show{
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
  .inputBorder{
    z-index: 10;
    position: fixed;
    top:5%;
    height:200px;
    width:100%;
    background: rgba(255,255,255,0.95);
    box-shadow:gainsboro  1px 1px 10px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: scale(1,0);
    -moz-transform:  scale(1,0);
    -ms-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform:scale(1,0);
    margin-bottom:40px;
    p{
      padding-top:5px;
      margin-left: 30%;
      width:40%;
      text-align: center;
      color: $MainColor;
    }
    .inputPlace{
      margin-left:2%;
      margin-right:3%;
      width:95%;
      font-family: "微软雅黑 Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:20px;
      border: none;
      resize: none;
      border-radius: 4px;
      box-shadow:gainsboro  1px 1px 6px inset;
      margin-bottom: 40px;
    }
    .checkButton{
      position: absolute;
      bottom: -20px;
      overflow: hidden;
      height:50px;
      width:50px;
      border-radius: 50%;


    }
    #yes{
      left:25%;
      background: $MainColor;
      box-shadow: gainsboro 5px 5px  20px;
    }
    #no{
      right:25%;
      background: purple;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      box-shadow: gray 1px 1px  10px;

    }
  }
  .inputBorder-active{
    -webkit-transform:  scale(1,1);
    -moz-transform:  scale(1,1);
    -ms-transform:  scale(1,1);
    -o-transform:  scale(1,1);
    transform: scale(1,1);
  }
.alertError{
  z-index: 11;
  position: fixed;
  top:0;
  text-align: center;
  font-size:20px;
  color: white;
  width:100%;
  height:30px;
  background: $MainColor1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  transform-origin:0 0;
  -webkit-transform: translate(0,-35px);
  -moz-transform: translate(0,-35px);
  -ms-transform: translate(0,-35px);
  -o-transform: translate(0,-35px);
  transform: translate(0,-35px);
}
.alertError-active{
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}






