// bower:scss
// endbower
$HfontSize:80px;
$PfontSize:20px;
$TfontSize:40px;
$WeekFS:20px;
$DataFS:100px;
$h1:50px;
$MainColor:rgba(255,100,100,1);
$MainColor1:rgba(89,217,166,1);
$MainColor2:rgba(131,119,245,1);
html,body,.background,.topView{
  margin:0;
  padding: 0;
}
html{
  height:100%;
  width:100%;
}
body {
  height:100%;
  width:100%;
  background: #fafafa;
  font-family: "微软雅黑 Light", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.background{
  position: relative;
  width:100%;
  height:100%;

}
.topView{
  z-index: 1;
  position: fixed;
  width:100%;
  height:100%;
  background:$MainColor;
  .show{
    height:40%;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    color: white;
    position: relative;
    text-align: center;
    .week{

      font-size:$WeekFS;
    }
    .data{
      font-size:$DataFS;
    }
    .h1{

    }
  }
}
.underView{
  position: absolute;
  top:40%;
  z-index: 2;
  background: white;
  width:100%;
  height:auto;
  color: gainsboro;
  box-shadow: 0 -0.5px 5px ;
  border-radius:0.5%;
  overflow: hidden;
.containercc{
  margin:0;
  padding:0;
  width:100%;
  height:380px;
  .calendar:nth-child(1){
    top:0;
    left:0;
  }
  .calendar:nth-child(2){
    top:0;
    left:100%;
  }
  .calendar:nth-child(3){
    top:0;
    left:200%;
  }
  .calendar{
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    color: black;
    margin:5%;
    padding:0;
    width:90%;
    height:350px;
    tr{
      margin:0;
      padding:0;
      td{
        margin:0;
        padding:0;

      }
      td:active{
        background: $MainColor;
      }
    }
    tr{
      th:nth-child(1),th:nth-child(7){
        color: $MainColor;
      }
      td:nth-child(1),td:nth-child(7){
        color: $MainColor;
      }
    }
  }
}
  .reminder{
    width:100%;
    height:auto;
.addThings{
  margin-left:auto;
  margin-right:auto;
  padding-top:13px;
  height:37px;
  width:80%;
  border-radius: 5px;
  background: $MainColor;
  box-shadow: lighten($MainColor,20%) 1px 1px 10px;
  text-align: center;
  font-size:20px;
  color: white;
}
    .addThings:active{
      background: lighten($MainColor,10%);
    }
  }
}
.IncludeB{
  position: fixed;
  bottom: 2%;
  z-index: 4;
  height:50px;
  margin-right: 40%;
  width:20%;
  margin-left: 40%;
  .addButton{
    overflow: hidden;
    text-align: center;
    vertical-align: inherit;
    color: white;
    font-size: 40px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    margin-right: auto;
    margin-left:auto;
    z-index: 5;
    height:50px;
    width:50px;
    box-shadow: 1px 1px 10px gainsboro;
    border-radius: 25px;
    background: $MainColor;
    transform: rotate(0deg);
  };
  .addButton-active{
    background: purple;
    transform: rotate(135deg);

  }
}



